.header {
    padding-top: 40px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
    }
    &__item {
        margin-left: 40px;
        transition: 0.3s;
        &:first-child {
            margin-left: 0;
        }
        a {
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 0.02em;
            color: #333333;
        }
        .active {
            transition: 0.3s;
            border-bottom: 2px solid #333;
        }
    }
}
.widgets {
    display: flex;
    align-items: start;
    &__seacrh {
         
        margin-right: 45px;
    }
    &__user { 
         display: flex;
    align-items: start;
        margin-right: 45px;
        span {
            font-size: 18px;
            line-height: 31px;
            letter-spacing: 0.02em;
            color: #333333;
            margin-left: 8px;
            display: block;
        }
    }
    &__cart {
        width: 46px;
        height: 46px;
        background: #f1ddc9;
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
        outline: none;
        border: none;
        cursor: pointer;
        position: relative;
        span {
            position: absolute;
            background-color: #d84727;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            top: 0;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
    }
}

